/* JB Labs */

@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

#nav-img {
  font-family: Bangers;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: normal;
  /* identical to box height */
  display: flex;
  align-items: flex-end;
  text-align: center;

  color: #6d96ff;

  text-shadow: 8px 8px 16px rgba(0, 0, 0, 0.24);
}

nav {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
/*
#nucleus, */
.spinner-border {
  margin-top: 10rem;
  padding: 5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
