/* JB Labs */

@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
/* 
 body {
  --bgcolor: black;
  --fontcolor: white;
} */

.light-theme {
  --bgcolor: white;
  background-color: var(--bgcolor);
}

.dark-theme {
  --bgcolor: black;
  --fontcolor: #6d96ff;
  color: var(--fontcolor);
  background-color: var(--bgcolor);
 
}

.flipmode {
  background: linear-gradient(to bottom, #6d96ff 0%, #E8DBCB 100%);

}

#imgs {
  width: 5rem;
}

footer {
  background-color: inherit;
  font-family: Bangers;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: normal;
  display: flex;
  align-items: flex-end;
  text-align: center;

  text-shadow: 8px 8px 16px rgba(0, 0, 0, 0.24);
}

#nav-img {
  font-family: Bangers;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: normal;
  display: flex;
  align-items: flex-end;
  text-align: center;

  color: #6d96ff;

  text-shadow: 8px 8px 16px rgba(0, 0, 0, 0.24);
}

 nav {
  background-color: inherit;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

#myBar {
  margin-top: 6rem;
  animation: zoom 3s ease forwards 1;
}

@keyframes zoom {
  0% {
    width: 0;
  }

  99% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}

#nucleus {
  margin-top: 2rem;
  animation: fadeIn 2s ease-in 0s 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}